cloud/nifi/PiWiNiFi_Cloud_Flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>PiWiNiFi Cloud Flow</name><snippet><connections><id>972db8b8-c2f7-48cd-b56d-63ed43d9cccd</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>8c37e2cd-ee9b-44e3-a60b-ec17a2306393</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>35fd994b-4950-4f13-8b24-8469f417329b</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>f440740d-c838-49b9-90d3-39239fe2e0f5</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</groupId><id>5b09e6d2-6a47-493e-81a0-0042e5491538</id><type>INPUT_PORT</type></destination><flowFileExpiration>1 hour</flowFileExpiration><labelIndex>1</labelIndex><name></name><prioritizers>org.apache.nifi.prioritizer.NewestFlowFileFirstPrioritizer</prioritizers><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>0d3f6be1-2771-49a1-aa57-3b1eee3d3d19</id><type>FUNNEL</type></source><zIndex>0</zIndex></connections><connections><id>a633a886-4e1d-4fc2-8242-adcfe43a078c</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>256 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>1000000</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>500fc7ba-6b4f-4c6d-b9be-b746cc6a4ffc</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name>Back Pressure on Devices</name><prioritizers>org.apache.nifi.prioritizer.NewestFlowFileFirstPrioritizer</prioritizers><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>def0e7a1-5d2d-4e53-bda0-f4ecf3ad5b9b</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>2b58082c-a781-4840-aa28-411f5953cd25</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>33bf6177-3442-4a67-a15f-d693429db1ea</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>b79e6c1b-fb5b-4cc3-a0ea-17c39754d480</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>936643e9-91bb-40f7-bab6-da560dc8cb53</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>b79e6c1b-fb5b-4cc3-a0ea-17c39754d480</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>da67c7e3-e965-40c1-8156-6941a227de01</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>d2989eca-b313-4209-8ff2-636d55e64a72</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>5b2a4959-c064-4278-8f41-076be8673df7</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><prioritizers>org.apache.nifi.prioritizer.PriorityAttributePrioritizer</prioritizers><prioritizers>org.apache.nifi.prioritizer.NewestFlowFileFirstPrioritizer</prioritizers><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>33bf6177-3442-4a67-a15f-d693429db1ea</id><type>FUNNEL</type></source><zIndex>0</zIndex></connections><connections><id>2e60fc99-cd0e-4a8e-a034-2844107b65f9</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>3e37f20f-8bda-4e83-afeb-0a446f1b4fb3</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>2f36d2ea-ff03-41b3-aa33-de66427836d8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>fb9f4f31-bc35-494f-95bc-cbe5b6b24391</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>df9e4666-634c-4fa2-b673-a16acc595bc4</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>f515efb5-1730-4b52-abcb-b3a9feb7f90e</groupId><id>12bdaa31-b53d-402e-99af-0be6a746c9e6</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>c75c594d-7dd4-4951-9549-0bab2c42e306</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>d9f85081-48f1-4abd-bbba-e86acd964a3f</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>def0e7a1-5d2d-4e53-bda0-f4ecf3ad5b9b</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>ac0a0868-bd95-4079-8669-5bd211a7fe4b</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>0d3f6be1-2771-49a1-aa57-3b1eee3d3d19</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>def0e7a1-5d2d-4e53-bda0-f4ecf3ad5b9b</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>3b57e6bd-69fc-47fc-b2eb-1a1f18eb47da</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>275716dd-7e2c-4d74-a7ce-b2aa147897c1</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>d9f85081-48f1-4abd-bbba-e86acd964a3f</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>bef4e6a3-9ee5-46d9-83b4-3bab85bd23d1</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>33bf6177-3442-4a67-a15f-d693429db1ea</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>ff94f7d2-6504-4f05-8874-019ff86ed3be</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>31e55ad1-8e33-44cf-b8d3-0fbfb7fc5ed9</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>0d3f6be1-2771-49a1-aa57-3b1eee3d3d19</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>35fd994b-4950-4f13-8b24-8469f417329b</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>3d41cea7-e40e-4b4e-ac9d-a9180754b617</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>3e37f20f-8bda-4e83-afeb-0a446f1b4fb3</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>0943337a-78e0-4e53-92b3-678eb6db9268</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>3cdd2e09-6668-405a-b80f-6527a2dc267b</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>3e37f20f-8bda-4e83-afeb-0a446f1b4fb3</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>318ecbb6-7072-43e4-83f0-74cfeb16501a</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>6bcafb1d-1cd7-4fcd-8877-67441a8b9f9f</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>ff94f7d2-6504-4f05-8874-019ff86ed3be</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>3e37f20f-8bda-4e83-afeb-0a446f1b4fb3</id><type>FUNNEL</type></source><zIndex>0</zIndex></connections><controllerServices><id>d1cedd00-02d3-41ba-a592-006eaecdefae</id><comments></comments><descriptors><entry><key>Keystore Filename</key><value><description>The fully-qualified filename of the Keystore</description><displayName>Keystore Filename</displayName><dynamic>false</dynamic><name>Keystore Filename</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keystore Password</key><value><description>The password for the Keystore</description><displayName>Keystore Password</displayName><dynamic>false</dynamic><name>Keystore Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keystore Type</key><value><allowableValues><displayName>JKS</displayName><value>JKS</value></allowableValues><allowableValues><displayName>PKCS12</displayName><value>PKCS12</value></allowableValues><description>The Type of the Keystore</description><displayName>Keystore Type</displayName><dynamic>false</dynamic><name>Keystore Type</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Truststore Filename</key><value><description>The fully-qualified filename of the Truststore</description><displayName>Truststore Filename</displayName><dynamic>false</dynamic><name>Truststore Filename</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Truststore Password</key><value><description>The password for the Truststore</description><displayName>Truststore Password</displayName><dynamic>false</dynamic><name>Truststore Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Truststore Type</key><value><allowableValues><displayName>JKS</displayName><value>JKS</value></allowableValues><allowableValues><displayName>PKCS12</displayName><value>PKCS12</value></allowableValues><description>The Type of the Truststore. Either JKS or PKCS12</description><displayName>Truststore Type</displayName><dynamic>false</dynamic><name>Truststore Type</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Protocol</key><value><allowableValues><displayName>SSL</displayName><value>SSL</value></allowableValues><allowableValues><displayName>SSLv2Hello</displayName><value>SSLv2Hello</value></allowableValues><allowableValues><displayName>SSLv3</displayName><value>SSLv3</value></allowableValues><allowableValues><displayName>TLS</displayName><value>TLS</value></allowableValues><allowableValues><displayName>TLSv1</displayName><value>TLSv1</value></allowableValues><allowableValues><displayName>TLSv1.1</displayName><value>TLSv1.1</value></allowableValues><allowableValues><displayName>TLSv1.2</displayName><value>TLSv1.2</value></allowableValues><defaultValue>TLS</defaultValue><description>The algorithm to use for this SSL context</description><displayName>SSL Protocol</displayName><dynamic>false</dynamic><name>SSL Protocol</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>StandardSSLContextService</name><properties><entry><key>Keystore Filename</key><value>./conf/keystore.jks</value></entry><entry><key>Keystore Password</key></entry><entry><key>Keystore Type</key><value>JKS</value></entry><entry><key>Truststore Filename</key><value>./conf/truststore.jks</value></entry><entry><key>Truststore Password</key></entry><entry><key>Truststore Type</key><value>JKS</value></entry><entry><key>SSL Protocol</key><value>TLSv1.2</value></entry></properties><referencingComponents><descriptors><entry><key>Port</key><value><defaultValue>4557</defaultValue><description>The port to listen on for incoming connections</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Cache Entries</key><value><defaultValue>10000</defaultValue><description>The maximum number of cache entries that the cache can hold</description><displayName>Maximum Cache Entries</displayName><dynamic>false</dynamic><name>Maximum Cache Entries</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Eviction Strategy</key><value><allowableValues><displayName>Least Frequently Used</displayName><value>Least Frequently Used</value></allowableValues><allowableValues><displayName>Least Recently Used</displayName><value>Least Recently Used</value></allowableValues><allowableValues><displayName>First In, First Out</displayName><value>First In, First Out</value></allowableValues><defaultValue>Least Frequently Used</defaultValue><description>Determines which strategy should be used to evict values from the cache to make room for new entries</description><displayName>Eviction Strategy</displayName><dynamic>false</dynamic><name>Eviction Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Persistence Directory</key><value><description>If specified, the cache will be persisted in the given directory; if not specified, the cache will be in-memory only</description><displayName>Persistence Directory</displayName><dynamic>false</dynamic><name>Persistence Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></allowableValues><allowableValues><displayName>ClientSSLContext</displayName><value>ed184387-80c2-46a3-8683-287f119da768</value></allowableValues><description>If specified, this service will be used to create an SSL Context that will be used to secure communications; if not specified, communications will not be secure</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><id>a0156731-3c8d-4ab9-836c-e4fc90c4840e</id><name>OAuthTokenDistributedMapCacheServer</name><properties><entry><key>Port</key><value>4558</value></entry><entry><key>Maximum Cache Entries</key><value>10000</value></entry><entry><key>Eviction Strategy</key><value>Least Frequently Used</value></entry><entry><key>Persistence Directory</key><value>/tmp/oauth</value></entry><entry><key>SSL Context Service</key><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></entry></properties><referenceCycle>false</referenceCycle><referenceType>ControllerService</referenceType><state>DISABLED</state><type>org.apache.nifi.distributed.cache.server.map.DistributedMapCacheServer</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Base Path</key><value><defaultValue>contentListener</defaultValue><description>Base path for incoming connections</description><displayName>Base Path</displayName><dynamic>false</dynamic><name>Base Path</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Listening Port</key><value><description>The Port to listen on for incoming connections</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Data to Receive per Second</key><value><description>The maximum amount of data to receive per second; this allows the bandwidth to be throttled to a specified data rate; if not specified, the data rate is not throttled</description><displayName>Max Data to Receive per Second</displayName><dynamic>false</dynamic><name>Max Data to Receive per Second</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></allowableValues><allowableValues><displayName>ClientSSLContext</displayName><value>ed184387-80c2-46a3-8683-287f119da768</value></allowableValues><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Authorized DN Pattern</key><value><defaultValue>.*</defaultValue><description>A Regular Expression to apply against the Distinguished Name of incoming connections. If the Pattern does not match the DN, the connection will be refused.</description><displayName>Authorized DN Pattern</displayName><dynamic>false</dynamic><name>Authorized DN Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value><defaultValue>60 secs</defaultValue><description>The maximum amount of time to wait for a FlowFile to be confirmed before it is removed from the cache</description><displayName>Max Unconfirmed Flowfile Time</displayName><dynamic>false</dynamic><name>Max Unconfirmed Flowfile Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key><value><description>Specifies the Regular Expression that determines the names of HTTP Headers that should be passed along as FlowFile attributes</description><displayName>HTTP Headers to receive as Attributes (Regex)</displayName><dynamic>false</dynamic><name>HTTP Headers to receive as Attributes (Regex)</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>a7cebd00-72f2-444e-ae3d-a8b07298a3d3</id><name>ListenHTTP</name><properties><entry><key>Base Path</key></entry><entry><key>Listening Port</key><value>9444</value></entry><entry><key>Max Data to Receive per Second</key></entry><entry><key>SSL Context Service</key><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></entry><entry><key>Authorized DN Pattern</key></entry><entry><key>Max Unconfirmed Flowfile Time</key></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.ListenHTTP</type></referencingComponents><referencingComponents><descriptors><entry><key>Server Hostname</key><value><description>The name of the server that is running the DistributedMapCacheServer service</description><displayName>Server Hostname</displayName><dynamic>false</dynamic><name>Server Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Server Port</key><value><defaultValue>4557</defaultValue><description>The port on the remote server that is to be used when communicating with the DistributedMapCacheServer service</description><displayName>Server Port</displayName><dynamic>false</dynamic><name>Server Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></allowableValues><allowableValues><displayName>ClientSSLContext</displayName><value>ed184387-80c2-46a3-8683-287f119da768</value></allowableValues><description>If specified, indicates the SSL Context Service that is used to communicate with the remote server. If not specified, communications will not be encrypted</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>Specifies how long to wait when communicating with the remote server before determining that there is a communications failure if data cannot be sent or received</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><id>7f4b0c6c-879d-46b5-a09e-f460ec3891fa</id><name>AddressBookService</name><properties><entry><key>Server Hostname</key><value>cloud.things.simonellistonball.com</value></entry><entry><key>Server Port</key><value>4557</value></entry><entry><key>SSL Context Service</key><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry></properties><referenceCycle>false</referenceCycle><referenceType>ControllerService</referenceType><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Cache Entry Identifier</key><value><defaultValue>${hash.value}</defaultValue><description>A FlowFile attribute, or the results of an Attribute Expression Language statement, which will be evaluated against a FlowFile in order to determine the value used to identify duplicates; it is this value that is cached</description><displayName>Cache Entry Identifier</displayName><dynamic>false</dynamic><name>Cache Entry Identifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>OAuthTokenDistributedMapCacheClientService</displayName><value>22c91e6d-de94-4734-92bc-4e115d127553</value></allowableValues><allowableValues><displayName>AddressBookService</displayName><value>7f4b0c6c-879d-46b5-a09e-f460ec3891fa</value></allowableValues><allowableValues><displayName>AddressBookClient</displayName><value>45c448e9-afcd-4033-8019-0cb10ec161b2</value></allowableValues><description>The Controller Service that is used to get the cached values.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Put Cache Value In Attribute</key><value><description>If set, the cache value received will be put into an attribute of the FlowFile instead of a the content of theFlowFile. The attribute key to put to is determined by evaluating value of this property.</description><displayName>Put Cache Value In Attribute</displayName><dynamic>false</dynamic><name>Put Cache Value In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Length To Put In Attribute</key><value><defaultValue>256</defaultValue><description>If routing the cache value to an attribute of the FlowFile (by setting the &quot;Put Cache Value in attribute&quot; property), the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will be truncated to fit. Consider making this smaller if able.</description><displayName>Max Length To Put In Attribute</displayName><dynamic>false</dynamic><name>Max Length To Put In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the cached value is encoded. This will only be used when routing to an attribute.</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>b868e750-fbae-46ce-bde4-037c86646032</groupId><id>b78f47a4-e9e3-4d7d-a637-f471fad21295</id><name>FetchDistributedMapCache</name><properties><entry><key>Cache Entry Identifier</key><value>${hash.value}</value></entry><entry><key>Distributed Cache Service</key><value>7f4b0c6c-879d-46b5-a09e-f460ec3891fa</value></entry><entry><key>Put Cache Value In Attribute</key></entry><entry><key>Max Length To Put In Attribute</key><value>256</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type><validationErrors>'Distributed Cache Service' validated against 'AddressBookService' is invalid because Controller Service DistributedMapCacheClientService[id=7f4b0c6c-879d-46b5-a09e-f460ec3891fa] is disabled</validationErrors><validationErrors>'Relationship success' is invalid because Relationship 'success' is not connected to any component and is not auto-terminated</validationErrors><validationErrors>'Relationship failure' is invalid because Relationship 'failure' is not connected to any component and is not auto-terminated</validationErrors><validationErrors>'Relationship not-found' is invalid because Relationship 'not-found' is not connected to any component and is not auto-terminated</validationErrors></referencingComponents><state>DISABLED</state><type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Listening Port</key><value><defaultValue>80</defaultValue><description>The Port to listen on for incoming HTTP requests</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hostname</key><value><description>The Hostname to bind to. If not specified, will bind to all hosts</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></allowableValues><allowableValues><displayName>ClientSSLContext</displayName><value>ed184387-80c2-46a3-8683-287f119da768</value></allowableValues><description>The SSL Context Service to use in order to secure the server. If specified, the server will accept only HTTPS requests; otherwise, the server will accept only HTTP requests</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>OAuthStandardHttpContextMap</displayName><value>453ffe0e-33d8-4d8a-951c-5f014b745411</value></allowableValues><allowableValues><displayName>StandardHttpContextMap</displayName><value>ec551183-f31d-4ff0-b356-cbc5d3ffe7a5</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allowed Paths</key><value><description>A Regular Expression that specifies the valid HTTP Paths that are allowed in the incoming URL Requests. If this value is specified and the path of the HTTP Requests does not match this Regular Expression, the Processor will respond with a 404: NotFound</description><displayName>Allowed Paths</displayName><dynamic>false</dynamic><name>Allowed Paths</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Default URL Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The character set to use for decoding URL parameters if the HTTP Request does not supply one</description><displayName>Default URL Character Set</displayName><dynamic>false</dynamic><name>Default URL Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow GET</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP GET Method</description><displayName>Allow GET</displayName><dynamic>false</dynamic><name>Allow GET</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow POST</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP POST Method</description><displayName>Allow POST</displayName><dynamic>false</dynamic><name>Allow POST</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow PUT</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP PUT Method</description><displayName>Allow PUT</displayName><dynamic>false</dynamic><name>Allow PUT</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow DELETE</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP DELETE Method</description><displayName>Allow DELETE</displayName><dynamic>false</dynamic><name>Allow DELETE</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow HEAD</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP HEAD Method</description><displayName>Allow HEAD</displayName><dynamic>false</dynamic><name>Allow HEAD</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow OPTIONS</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP OPTIONS Method</description><displayName>Allow OPTIONS</displayName><dynamic>false</dynamic><name>Allow OPTIONS</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional HTTP Methods</key><value><description>A comma-separated list of non-standard HTTP Methods that should be allowed</description><displayName>Additional HTTP Methods</displayName><dynamic>false</dynamic><name>Additional HTTP Methods</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Authentication</key><value><allowableValues><description>Processor will not authenticate clients. Anyone can communicate with this Processor anonymously</description><displayName>No Authentication</displayName><value>No Authentication</value></allowableValues><allowableValues><description>Processor will try to verify the client but if unable to verify will allow the client to communicate anonymously</description><displayName>Want Authentication</displayName><value>Want Authentication</value></allowableValues><allowableValues><description>Processor will reject communications from any client unless the client provides a certificate that is trusted by the TrustStorespecified in the SSL Context Service</description><displayName>Need Authentication</displayName><value>Need Authentication</value></allowableValues><defaultValue>No Authentication</defaultValue><description>Specifies whether or not the Processor should authenticate clients. This value is ignored if the &lt;SSL Context Service&gt; Property is not specified or the SSL Context provided uses only a KeyStore and not a TrustStore.</description><displayName>Client Authentication</displayName><dynamic>false</dynamic><name>Client Authentication</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>b868e750-fbae-46ce-bde4-037c86646032</groupId><id>2b66606e-abbb-4eff-96f2-b29329c46718</id><name>Incoming SMS</name><properties><entry><key>Listening Port</key><value>8444</value></entry><entry><key>Hostname</key></entry><entry><key>SSL Context Service</key><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></entry><entry><key>HTTP Context Map</key><value>ec551183-f31d-4ff0-b356-cbc5d3ffe7a5</value></entry><entry><key>Allowed Paths</key><value>/messageReplies</value></entry><entry><key>Default URL Character Set</key><value>UTF-8</value></entry><entry><key>Allow GET</key><value>false</value></entry><entry><key>Allow POST</key><value>true</value></entry><entry><key>Allow PUT</key><value>false</value></entry><entry><key>Allow DELETE</key><value>false</value></entry><entry><key>Allow HEAD</key><value>false</value></entry><entry><key>Allow OPTIONS</key><value>false</value></entry><entry><key>Additional HTTP Methods</key></entry><entry><key>Client Authentication</key><value>No Authentication</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.HandleHttpRequest</type><validationErrors>'HTTP Context Map' validated against 'StandardHttpContextMap' is invalid because Controller Service StandardHttpContextMap[id=ec551183-f31d-4ff0-b356-cbc5d3ffe7a5] is disabled</validationErrors></referencingComponents><referencingComponents><descriptors><entry><key>Server Hostname</key><value><description>The name of the server that is running the DistributedMapCacheServer service</description><displayName>Server Hostname</displayName><dynamic>false</dynamic><name>Server Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Server Port</key><value><defaultValue>4557</defaultValue><description>The port on the remote server that is to be used when communicating with the DistributedMapCacheServer service</description><displayName>Server Port</displayName><dynamic>false</dynamic><name>Server Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></allowableValues><allowableValues><displayName>ClientSSLContext</displayName><value>ed184387-80c2-46a3-8683-287f119da768</value></allowableValues><description>If specified, indicates the SSL Context Service that is used to communicate with the remote server. If not specified, communications will not be encrypted</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>Specifies how long to wait when communicating with the remote server before determining that there is a communications failure if data cannot be sent or received</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><id>45c448e9-afcd-4033-8019-0cb10ec161b2</id><name>AddressBookClient</name><properties><entry><key>Server Hostname</key><value>cloud.things.simonellistonball.com</value></entry><entry><key>Server Port</key><value>4557</value></entry><entry><key>SSL Context Service</key><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry></properties><referenceCycle>false</referenceCycle><referenceType>ControllerService</referenceType><state>DISABLED</state><type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Base Path</key><value><defaultValue>contentListener</defaultValue><description>Base path for incoming connections</description><displayName>Base Path</displayName><dynamic>false</dynamic><name>Base Path</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Listening Port</key><value><description>The Port to listen on for incoming connections</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Data to Receive per Second</key><value><description>The maximum amount of data to receive per second; this allows the bandwidth to be throttled to a specified data rate; if not specified, the data rate is not throttled</description><displayName>Max Data to Receive per Second</displayName><dynamic>false</dynamic><name>Max Data to Receive per Second</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></allowableValues><allowableValues><displayName>ClientSSLContext</displayName><value>ed184387-80c2-46a3-8683-287f119da768</value></allowableValues><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Authorized DN Pattern</key><value><defaultValue>.*</defaultValue><description>A Regular Expression to apply against the Distinguished Name of incoming connections. If the Pattern does not match the DN, the connection will be refused.</description><displayName>Authorized DN Pattern</displayName><dynamic>false</dynamic><name>Authorized DN Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value><defaultValue>60 secs</defaultValue><description>The maximum amount of time to wait for a FlowFile to be confirmed before it is removed from the cache</description><displayName>Max Unconfirmed Flowfile Time</displayName><dynamic>false</dynamic><name>Max Unconfirmed Flowfile Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key><value><description>Specifies the Regular Expression that determines the names of HTTP Headers that should be passed along as FlowFile attributes</description><displayName>HTTP Headers to receive as Attributes (Regex)</displayName><dynamic>false</dynamic><name>HTTP Headers to receive as Attributes (Regex)</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>3042b954-defa-483f-b6e0-271a695d7f22</groupId><id>318ecbb6-7072-43e4-83f0-74cfeb16501a</id><name>Web Service Interface to send commands</name><properties><entry><key>Base Path</key><value>commands</value></entry><entry><key>Listening Port</key><value>8445</value></entry><entry><key>Max Data to Receive per Second</key></entry><entry><key>SSL Context Service</key><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></entry><entry><key>Authorized DN Pattern</key><value>.*</value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value>60 secs</value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.ListenHTTP</type></referencingComponents><referencingComponents><descriptors><entry><key>Server Hostname</key><value><description>The name of the server that is running the DistributedMapCacheServer service</description><displayName>Server Hostname</displayName><dynamic>false</dynamic><name>Server Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Server Port</key><value><defaultValue>4557</defaultValue><description>The port on the remote server that is to be used when communicating with the DistributedMapCacheServer service</description><displayName>Server Port</displayName><dynamic>false</dynamic><name>Server Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></allowableValues><allowableValues><displayName>ClientSSLContext</displayName><value>ed184387-80c2-46a3-8683-287f119da768</value></allowableValues><description>If specified, indicates the SSL Context Service that is used to communicate with the remote server. If not specified, communications will not be encrypted</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>Specifies how long to wait when communicating with the remote server before determining that there is a communications failure if data cannot be sent or received</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><id>22c91e6d-de94-4734-92bc-4e115d127553</id><name>OAuthTokenDistributedMapCacheClientService</name><properties><entry><key>Server Hostname</key><value>localhost</value></entry><entry><key>Server Port</key><value>4558</value></entry><entry><key>SSL Context Service</key><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry></properties><referenceCycle>false</referenceCycle><referenceType>ControllerService</referenceType><state>DISABLED</state><type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.ssl.StandardSSLContextService</type></controllerServices><funnels><id>3e37f20f-8bda-4e83-afeb-0a446f1b4fb3</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>1398.7236633004973</x><y>489.75996488083604</y></position></funnels><funnels><id>0d3f6be1-2771-49a1-aa57-3b1eee3d3d19</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>-150.53168967344072</x><y>607.022690710914</y></position></funnels><funnels><id>33bf6177-3442-4a67-a15f-d693429db1ea</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>1568.3744201364348</x><y>862.6597146366954</y></position></funnels><inputPorts><id>0943337a-78e0-4e53-92b3-678eb6db9268</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>1352.322509765625</x><y>312.2162780761719</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>from SECloud</name><state>RUNNING</state><transmitting>false</transmitting><type>INPUT_PORT</type><userAccessControl>CN=hs16w05.cloud.hortonworks.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=secloud.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=secloud.things.simonellistonball.com, OU=PiWiNiFi Demo, O=Hortonworks, ST=California, C=US</userAccessControl></inputPorts><inputPorts><id>35fd994b-4950-4f13-8b24-8469f417329b</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>208.88814296309278</x><y>673.8138878874756</y></position><comments></comments><concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount><name>from RPi Remote Control</name><state>RUNNING</state><transmitting>false</transmitting><type>INPUT_PORT</type><userAccessControl>CN=pi333eef.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pi1cd960.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pid98733.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pi2e7c88.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pif038b1.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pi351bc7.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pi93aea3.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl></inputPorts><inputPorts><id>da67c7e3-e965-40c1-8156-6941a227de01</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>1799.5782775583098</x><y>515.2401284550548</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Lookups From Internal Prod</name><state>RUNNING</state><transmitting>false</transmitting><type>INPUT_PORT</type><userAccessControl>CN=hs16w05.cloud.hortonworks.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=secloud.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=secloud.things.simonellistonball.com, OU=PiWiNiFi Demo, O=Hortonworks, ST=California, C=US</userAccessControl></inputPorts><inputPorts><id>def0e7a1-5d2d-4e53-bda0-f4ecf3ad5b9b</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>210.29659717032013</x><y>528.7104332212156</y></position><comments></comments><concurrentlySchedulableTaskCount>8</concurrentlySchedulableTaskCount><name>from RPi Sensors</name><state>RUNNING</state><transmitting>false</transmitting><type>INPUT_PORT</type><userAccessControl>CN=pi333eef.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pi5aedda.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pi2e7c88.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pif038b1.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pi351bc7.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pi52a489.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pi1cd960.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pid98733.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pifc2a2d.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pi4d359f.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=piee3450.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=pi93aea3.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl></inputPorts><labels><id>48eed522-f9ca-4d68-bb6e-bb9ed33474da</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>188.77690639082718</x><y>638.4124518698472</y></position><height>107.93621063232422</height><label>Response From Devices to Commands
</label><style><entry><key>background-color</key><value>#ff8282</value></entry><entry><key>font-size</key><value>12px</value></entry></style><width>592.7728271484375</width></labels><labels><id>102e798c-b32c-45ca-a343-1d0c57558eae</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>190.5041177969432</x><y>492.73615118418</y></position><height>114.63389587402344</height><label>Sensor Data proxy and Pass to DMZ cloud</label><style><entry><key>background-color</key><value>#006b15</value></entry><entry><key>font-size</key><value>12px</value></entry></style><width>593.28076171875</width></labels><labels><id>3d07effc-ca0d-4e6c-9d7b-639c7d856864</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>840.9144542101843</x><y>295.9308664133964</y></position><height>280.0215759277344</height><label>Send Commands out to All Devices</label><style><entry><key>font-size</key><value>12px</value></entry></style><width>691.9920654296875</width></labels><labels><id>b4a1484d-acb7-4b23-869b-b213edeeb4bc</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>1731.2280578317473</x><y>387.29377835739854</y></position><height>91.99998474121094</height><label>Lookup tables are generated by a process 
in the SEcloud. These files are send down 
to the devices to enrich data for prioritisation, 
these are used to prioritise reports on the 
data from certain devices.</label><style><entry><key>font-size</key><value>12px</value></entry></style><width>277.0000305175781</width></labels><outputPorts><id>5b2a4959-c064-4278-8f41-076be8673df7</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>1516.746999361139</x><y>969.1220182136385</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>to Booth</name><state>RUNNING</state><transmitting>false</transmitting><type>OUTPUT_PORT</type><userAccessControl>CN=booth.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl></outputPorts><outputPorts><id>8c37e2cd-ee9b-44e3-a60b-ec17a2306393</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>599.9087829294035</x><y>669.2560891484142</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Device Logs</name><state>RUNNING</state><transmitting>false</transmitting><type>OUTPUT_PORT</type><userAccessControl>CN=hs16w05.cloud.hortonworks.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=secloud.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=secloud.things.simonellistonball.com, OU=PiWiNiFi Demo, O=Hortonworks, ST=California, C=US</userAccessControl></outputPorts><outputPorts><id>275716dd-7e2c-4d74-a7ce-b2aa147897c1</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>342.56892301839025</x><y>186.10587899870688</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>for simon</name><state>STOPPED</state><transmitting>false</transmitting><type>OUTPUT_PORT</type><userAccessControl>CN=sball, OU=Summit Demo PoC, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl></outputPorts><outputPorts><id>500fc7ba-6b4f-4c6d-b9be-b746cc6a4ffc</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>600.7728695750052</x><y>529.9418804824586</y></position><comments></comments><concurrentlySchedulableTaskCount>8</concurrentlySchedulableTaskCount><name>to Internal Prod</name><state>RUNNING</state><transmitting>false</transmitting><type>OUTPUT_PORT</type><userAccessControl>CN=hs16w05.cloud.hortonworks.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=secloud.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl><userAccessControl>CN=secloud.things.simonellistonball.com, OU=PiWiNiFi Demo, O=Hortonworks, ST=California, C=US</userAccessControl></outputPorts><outputPorts><id>df9e4666-634c-4fa2-b673-a16acc595bc4</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>2244.9743326257408</x><y>592.9255804194133</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>destinations</name><state>RUNNING</state><transmitting>false</transmitting><type>OUTPUT_PORT</type><userAccessControl>CN=booth.things.simonellistonball.com, OU=Summit Demo, O=Hortonworks, L=Dublin, ST=Ireland, C=IE</userAccessControl></outputPorts><processGroups><id>92f1f015-8657-4e5e-a119-4afe9d74dd6a</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>-304.7448257186395</x><y>755.1006805583256</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>68e4b107-ef8d-4682-8ca7-934fdf8c3051</id><parentGroupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</groupId><id>1c27014d-9c8a-40f1-b064-130118fd8772</id><type>PROCESSOR</type></destination><flowFileExpiration>1 hour</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</groupId><id>5b09e6d2-6a47-493e-81a0-0042e5491538</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>b7612f32-606b-4b12-9bc4-edef7c7afaba</id><parentGroupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>-107.81808474637774</x><y>969.8283852909922</y></bends><bends><x>-107.81808474637774</x><y>1019.8283852909922</y></bends><destination><groupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</groupId><id>7daec022-bfd1-4f48-ab0e-fc899e0c1aa0</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</groupId><id>7daec022-bfd1-4f48-ab0e-fc899e0c1aa0</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>36daa76c-7ce6-4ec8-b660-bb8aa6e94f3d</id><parentGroupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</groupId><id>7daec022-bfd1-4f48-ab0e-fc899e0c1aa0</id><type>PROCESSOR</type></destination><flowFileExpiration>10 mins</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</groupId><id>1c27014d-9c8a-40f1-b064-130118fd8772</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><inputPorts><id>5b09e6d2-6a47-493e-81a0-0042e5491538</id><parentGroupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</parentGroupId><position><x>-437.818134983036</x><y>652.914431187078</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>data</name><state>STOPPED</state><type>INPUT_PORT</type></inputPorts><processors><id>1c27014d-9c8a-40f1-b064-130118fd8772</id><parentGroupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</parentGroupId><position><x>-513.9902038870027</x><y>758.9145058964609</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Rate Control Criteria</key><value><allowableValues><description>Rate is controlled by counting bytes transferred per time duration.</description><displayName>data rate</displayName><value>data rate</value></allowableValues><allowableValues><description>Rate is controlled by counting flowfiles transferred per time duration</description><displayName>flowfile count</displayName><value>flowfile count</value></allowableValues><allowableValues><description>Rate is controlled by accumulating the value of a specified attribute that is transferred per time duration</description><displayName>attribute value</displayName><value>attribute value</value></allowableValues><defaultValue>data rate</defaultValue><description>Indicates the criteria that is used to control the throughput rate. Changing this value resets the rate counters.</description><displayName>Rate Control Criteria</displayName><dynamic>false</dynamic><name>Rate Control Criteria</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Rate</key><value><description>The maximum rate at which data should pass through this processor. The format of this property is expected to be a positive integer, or a Data Size (such as '1 MB') if Rate Control Criteria is set to 'data rate'.</description><displayName>Maximum Rate</displayName><dynamic>false</dynamic><name>Maximum Rate</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Rate Controlled Attribute</key><value><description>The name of an attribute whose values build toward the rate limit if Rate Control Criteria is set to 'attribute value'. The value of the attribute referenced by this property must be a positive long, or the FlowFile will be routed to failure. This value is ignored if Rate Control Criteria is not set to 'attribute value'. Changing this value resets the rate counters.</description><displayName>Rate Controlled Attribute</displayName><dynamic>false</dynamic><name>Rate Controlled Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Time Duration</key><value><defaultValue>1 min</defaultValue><description>The amount of time to which the Maximum Rate pertains. Changing this value resets the rate counters.</description><displayName>Time Duration</displayName><dynamic>false</dynamic><name>Time Duration</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Grouping Attribute</key><value><description>By default, a single &quot;throttle&quot; is used for all FlowFiles. If this value is specified, a separate throttle is used for each value specified by the attribute with this name. Changing this value resets the rate counters.</description><displayName>Grouping Attribute</displayName><dynamic>false</dynamic><name>Grouping Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Rate Control Criteria</key><value>flowfile count</value></entry><entry><key>Maximum Rate</key><value>1</value></entry><entry><key>Rate Controlled Attribute</key></entry><entry><key>Time Duration</key><value>1 hour</value></entry><entry><key>Grouping Attribute</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ControlRate</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this relationship if they are missing a necessary Rate Controlled Attribute or the attribute is not in the expected format</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are transferred to this relationship under normal conditions</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ControlRate</type></processors><processors><id>0fdb9f8e-ce00-441e-a7a2-48e627c66995</id><parentGroupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</parentGroupId><position><x>162.1818681451782</x><y>778.9258317209008</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Known Brokers</key><value><description>A comma-separated list of known Kafka Brokers in the format &lt;host&gt;:&lt;port&gt;</description><displayName>Known Brokers</displayName><dynamic>false</dynamic><name>Known Brokers</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Topic Name</key><value><description>The Kafka Topic of interest</description><displayName>Topic Name</displayName><dynamic>false</dynamic><name>Topic Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Strategy</key><value><allowableValues><description>Messages will be assigned partitions in a round-robin fashion, sending the first message to Partition 1, the next Partition to Partition 2, and so on, wrapping as necessary.</description><displayName>Round Robin</displayName><value>Round Robin</value></allowableValues><allowableValues><description>Messages will be assigned to random partitions.</description><displayName>Random</displayName><value>Random Robin</value></allowableValues><allowableValues><description>The &lt;Partition&gt; property will be used to determine the partition. All messages within the same FlowFile will be assigned to the same partition.</description><displayName>User-Defined</displayName><value>User-Defined</value></allowableValues><defaultValue>Round Robin</defaultValue><description>Specifies how messages should be partitioned when sent to Kafka</description><displayName>Partition Strategy</displayName><dynamic>false</dynamic><name>Partition Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Partition</key><value><description>Specifies which Kafka Partition to add the message to. If using a message delimiter, all messages in the same FlowFile will be sent to the same partition. If a partition is specified but is not valid, then all messages within the same FlowFile will use the same partition but it remains undefined which partition is used.</description><displayName>Partition</displayName><dynamic>false</dynamic><name>Partition</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Kafka Key</key><value><description>The Key to use for the Message</description><displayName>Kafka Key</displayName><dynamic>false</dynamic><name>Kafka Key</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Delivery Guarantee</key><value><allowableValues><description>FlowFile will be routed to success after successfully writing the content to a Kafka node, without waiting for a response. This provides the best performance but may result in data loss.</description><displayName>Best Effort</displayName><value>0</value></allowableValues><allowableValues><description>FlowFile will be routed to success if the message is received by a single Kafka node, whether or not it is replicated. This is faster than &lt;Guarantee Replicated Delivery&gt; but can result in data loss if a Kafka node crashes</description><displayName>Guarantee Single Node Delivery</displayName><value>1</value></allowableValues><allowableValues><description>FlowFile will be routed to failure unless the message is replicated to the appropriate number of Kafka Nodes according to the Topic configuration</description><displayName>Guarantee Replicated Delivery</displayName><value>all</value></allowableValues><defaultValue>0</defaultValue><description>Specifies the requirement for guaranteeing that a message is sent to Kafka</description><displayName>Delivery Guarantee</displayName><dynamic>false</dynamic><name>Delivery Guarantee</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Message Delimiter</key><value><description>Specifies the delimiter to use for splitting apart multiple messages within a single FlowFile. If not specified, the entire content of the FlowFile will be used as a single message. If specified, the contents of the FlowFile will be split on this delimiter and each section sent as a separate Kafka message. Note that if messages are delimited and some messages for a given FlowFile are transferred successfully while others are not, the messages will be split into individual FlowFiles, such that those messages that were successfully sent are routed to the 'success' relationship while other messages are sent to the 'failure' relationship.</description><displayName>Message Delimiter</displayName><dynamic>false</dynamic><name>Message Delimiter</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Buffer Size</key><value><defaultValue>5 MB</defaultValue><description>The maximum amount of data to buffer in memory before sending to Kafka</description><displayName>Max Buffer Size</displayName><dynamic>false</dynamic><name>Max Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Record Size</key><value><defaultValue>1 MB</defaultValue><description>The maximum size that any individual record can be.</description><displayName>Max Record Size</displayName><dynamic>false</dynamic><name>Max Record Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>The amount of time to wait for a response from Kafka before determining that there is a communications error</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Async Batch Size</key><value><defaultValue>200</defaultValue><description>The number of messages to send in one batch. The producer will wait until either this number of messages are ready to send or &quot;Queue Buffering Max Time&quot; is reached. NOTE: This property will be ignored unless the 'Message Delimiter' property is specified.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Async Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Queue Buffering Max Time</key><value><defaultValue>5 secs</defaultValue><description>Maximum time to buffer data before sending to Kafka. For example a setting of 100 ms will try to batch together 100 milliseconds' worth of messages to send at once. This will improve throughput but adds message delivery latency due to the buffering.</description><displayName>Queue Buffering Max Time</displayName><dynamic>false</dynamic><name>Queue Buffering Max Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Codec</key><value><allowableValues><description>Compression will not be used for any topic.</description><displayName>None</displayName><value>none</value></allowableValues><allowableValues><description>Compress messages using GZIP</description><displayName>GZIP</displayName><value>gzip</value></allowableValues><allowableValues><description>Compress messages using Snappy</description><displayName>Snappy</displayName><value>snappy</value></allowableValues><defaultValue>none</defaultValue><description>This parameter allows you to specify the compression codec for all data generated by this producer.</description><displayName>Compression Codec</displayName><dynamic>false</dynamic><name>Compression Codec</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Name</key><value><description>Client Name to use when communicating with Kafka</description><displayName>Client Name</displayName><dynamic>false</dynamic><name>Client Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Known Brokers</key></entry><entry><key>Topic Name</key></entry><entry><key>Partition Strategy</key></entry><entry><key>Partition</key></entry><entry><key>Kafka Key</key></entry><entry><key>Delivery Guarantee</key></entry><entry><key>Message Delimiter</key></entry><entry><key>Max Buffer Size</key></entry><entry><key>Max Record Size</key></entry><entry><key>Communications Timeout</key></entry><entry><key>Async Batch Size</key></entry><entry><key>Queue Buffering Max Time</key></entry><entry><key>Compression Codec</key></entry><entry><key>Client Name</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutKafka</name><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that cannot be sent to Kafka will be routed to this Relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that is successfully sent to Kafka will be routed to this Relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kafka.PutKafka</type></processors><processors><id>7daec022-bfd1-4f48-ab0e-fc899e0c1aa0</id><parentGroupId>92f1f015-8657-4e5e-a119-4afe9d74dd6a</parentGroupId><position><x>-516.8180847463777</x><y>944.8283852909922</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>SMTP Hostname</key><value><description>The hostname of the SMTP host</description><displayName>SMTP Hostname</displayName><dynamic>false</dynamic><name>SMTP Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP Port</key><value><defaultValue>25</defaultValue><description>The Port used for SMTP communications</description><displayName>SMTP Port</displayName><dynamic>false</dynamic><name>SMTP Port</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP Username</key><value><description>Username for the SMTP account</description><displayName>SMTP Username</displayName><dynamic>false</dynamic><name>SMTP Username</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP Password</key><value><description>Password for the SMTP account</description><displayName>SMTP Password</displayName><dynamic>false</dynamic><name>SMTP Password</name><required>false</required><sensitive>true</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP Auth</key><value><defaultValue>true</defaultValue><description>Flag indicating whether authentication should be used</description><displayName>SMTP Auth</displayName><dynamic>false</dynamic><name>SMTP Auth</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP TLS</key><value><defaultValue>false</defaultValue><description>Flag indicating whether TLS should be enabled</description><displayName>SMTP TLS</displayName><dynamic>false</dynamic><name>SMTP TLS</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP Socket Factory</key><value><defaultValue>javax.net.ssl.SSLSocketFactory</defaultValue><description>Socket Factory to use for SMTP Connection</description><displayName>SMTP Socket Factory</displayName><dynamic>false</dynamic><name>SMTP Socket Factory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SMTP X-Mailer Header</key><value><defaultValue>NiFi</defaultValue><description>X-Mailer used in the header of the outgoing email</description><displayName>SMTP X-Mailer Header</displayName><dynamic>false</dynamic><name>SMTP X-Mailer Header</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Content Type</key><value><defaultValue>text/plain</defaultValue><description>Mime Type used to interpret the contents of the email, such as text/plain or text/html</description><displayName>Content Type</displayName><dynamic>false</dynamic><name>Content Type</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>From</key><value><description>Specifies the Email address to use as the sender</description><displayName>From</displayName><dynamic>false</dynamic><name>From</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>To</key><value><description>The recipients to include in the To-Line of the email</description><displayName>To</displayName><dynamic>false</dynamic><name>To</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>CC</key><value><description>The recipients to include in the CC-Line of the email</description><displayName>CC</displayName><dynamic>false</dynamic><name>CC</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>BCC</key><value><description>The recipients to include in the BCC-Line of the email</description><displayName>BCC</displayName><dynamic>false</dynamic><name>BCC</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Subject</key><value><defaultValue>Message from NiFi</defaultValue><description>The email subject</description><displayName>Subject</displayName><dynamic>false</dynamic><name>Subject</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Message</key><value><defaultValue></defaultValue><description>The body of the email message</description><displayName>Message</displayName><dynamic>false</dynamic><name>Message</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Attach File</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies whether or not the FlowFile content should be attached to the email</description><displayName>Attach File</displayName><dynamic>false</dynamic><name>Attach File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include All Attributes In Message</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies whether or not all FlowFile attributes should be recorded in the body of the email message</description><displayName>Include All Attributes In Message</displayName><dynamic>false</dynamic><name>Include All Attributes In Message</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>5 min</penaltyDuration><properties><entry><key>SMTP Hostname</key><value>smtp.gmail.com</value></entry><entry><key>SMTP Port</key><value>465</value></entry><entry><key>SMTP Username</key><value>simon@simonellistonball.com</value></entry><entry><key>SMTP Password</key></entry><entry><key>SMTP Auth</key><value>true</value></entry><entry><key>SMTP TLS</key><value>false</value></entry><entry><key>SMTP Socket Factory</key><value>javax.net.ssl.SSLSocketFactory</value></entry><entry><key>SMTP X-Mailer Header</key><value>NiFi</value></entry><entry><key>Content Type</key><value>text/plain</value></entry><entry><key>From</key><value>simon@simonellistonball.com</value></entry><entry><key>To</key><value>sball@hortonworks.com</value></entry><entry><key>CC</key><value>dchaffey@hortonworks.com</value></entry><entry><key>BCC</key></entry><entry><key>Subject</key><value>Message from NiFi</value></entry><entry><key>Message</key><value>Some data came!</value></entry><entry><key>Attach File</key><value>true</value></entry><entry><key>Include All Attributes In Message</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>5 min</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>10 min</yieldDuration></config><name>PutEmail</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that fail to send will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that are successfully sent will be routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutEmail</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>2</invalidCount><name>Notify Me</name><outputPortCount>0</outputPortCount><parent><id>3042b954-defa-483f-b6e0-271a695d7f22</id><name>hswBastion</name></parent><runningCount>0</runningCount><stoppedCount>2</stoppedCount></processGroups><processGroups><id>f515efb5-1730-4b52-abcb-b3a9feb7f90e</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>2142.986871425679</x><y>383.12322803595225</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>2df4f05a-0318-40dd-9caa-7e64ea9cdb6e</id><parentGroupId>f515efb5-1730-4b52-abcb-b3a9feb7f90e</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>f515efb5-1730-4b52-abcb-b3a9feb7f90e</groupId><id>27805b10-4ab3-43bb-84d3-bc78fa830a27</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>f515efb5-1730-4b52-abcb-b3a9feb7f90e</groupId><id>e0cd20b5-c66b-4cbf-9b3f-b8a12c477458</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c7499fe8-5aa2-4dda-b9f3-c06f04e56d51</id><parentGroupId>f515efb5-1730-4b52-abcb-b3a9feb7f90e</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>f515efb5-1730-4b52-abcb-b3a9feb7f90e</groupId><id>12bdaa31-b53d-402e-99af-0be6a746c9e6</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>f515efb5-1730-4b52-abcb-b3a9feb7f90e</groupId><id>27805b10-4ab3-43bb-84d3-bc78fa830a27</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><outputPorts><id>12bdaa31-b53d-402e-99af-0be6a746c9e6</id><parentGroupId>f515efb5-1730-4b52-abcb-b3a9feb7f90e</parentGroupId><position><x>1249.6840903036841</x><y>1226.8524020995517</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>settings</name><state>RUNNING</state><type>OUTPUT_PORT</type></outputPorts><processors><id>27805b10-4ab3-43bb-84d3-bc78fa830a27</id><parentGroupId>f515efb5-1730-4b52-abcb-b3a9feb7f90e</parentGroupId><position><x>1176.6840903036841</x><y>1051.8524020995517</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>destination</key><value><description></description><displayName>destination</displayName><dynamic>true</dynamic><name>destination</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>destination</key><value>${filename}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>e0cd20b5-c66b-4cbf-9b3f-b8a12c477458</id><parentGroupId>f515efb5-1730-4b52-abcb-b3a9feb7f90e</parentGroupId><position><x>1174.6840802652337</x><y>876.8524267222788</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Input Directory</key><value><description>The input directory from which to pull files</description><displayName>Input Directory</displayName><dynamic>false</dynamic><name>Input Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>File Filter</key><value><defaultValue>[^\.].*</defaultValue><description>Only files whose names match the given regular expression will be picked up</description><displayName>File Filter</displayName><dynamic>false</dynamic><name>File Filter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter</key><value><description>When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned</description><displayName>Path Filter</displayName><dynamic>false</dynamic><name>Path Filter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>10</defaultValue><description>The maximum number of files to pull in each iteration</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keep Source File</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.</description><displayName>Keep Source File</displayName><dynamic>false</dynamic><name>Keep Source File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Recurse Subdirectories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to pull files from subdirectories</description><displayName>Recurse Subdirectories</displayName><dynamic>false</dynamic><name>Recurse Subdirectories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Polling Interval</key><value><defaultValue>0 sec</defaultValue><description>Indicates how long to wait before performing a directory listing</description><displayName>Polling Interval</displayName><dynamic>false</dynamic><name>Polling Interval</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Hidden Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not hidden files should be ignored</description><displayName>Ignore Hidden Files</displayName><dynamic>false</dynamic><name>Ignore Hidden Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Age</key><value><defaultValue>0 sec</defaultValue><description>The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored</description><displayName>Minimum File Age</displayName><dynamic>false</dynamic><name>Minimum File Age</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Age</key><value><description>The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored</description><displayName>Maximum File Age</displayName><dynamic>false</dynamic><name>Maximum File Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size that a file must be in order to be pulled</description><displayName>Minimum File Size</displayName><dynamic>false</dynamic><name>Minimum File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Size</key><value><description>The maximum size that a file can be in order to be pulled</description><displayName>Maximum File Size</displayName><dynamic>false</dynamic><name>Maximum File Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Input Directory</key><value>./conf/destinations/</value></entry><entry><key>File Filter</key><value>[^\.].*</value></entry><entry><key>Path Filter</key></entry><entry><key>Batch Size</key><value>10</value></entry><entry><key>Keep Source File</key><value>false</value></entry><entry><key>Recurse Subdirectories</key><value>true</value></entry><entry><key>Polling Interval</key><value>0 sec</value></entry><entry><key>Ignore Hidden Files</key><value>true</value></entry><entry><key>Minimum File Age</key><value>0 sec</value></entry><entry><key>Maximum File Age</key></entry><entry><key>Minimum File Size</key><value>0 B</value></entry><entry><key>Maximum File Size</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>1 min</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Get Settings file for destinations</name><relationships><autoTerminate>false</autoTerminate><description>All files are routed to success</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetFile</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>Get settings file for destinations</name><outputPortCount>1</outputPortCount><parent><id>3042b954-defa-483f-b6e0-271a695d7f22</id><name>hswBastion</name></parent><runningCount>3</runningCount><stoppedCount>0</stoppedCount></processGroups><processors><id>d9f85081-48f1-4abd-bbba-e86acd964a3f</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>269.4584991674317</x><y>311.90295631129584</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Regular Expression</key><value><defaultValue>(?s:^.*$)</defaultValue><description>The Search Value to search for in the FlowFile content. Only used for 'Literal Replace' and 'Regex Replace' matching strategies</description><displayName>Search Value</displayName><dynamic>false</dynamic><name>Regular Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Replacement Value</key><value><defaultValue>$1</defaultValue><description>The value to insert using the 'Replacement Strategy'. Using &quot;Regex Replace&quot; back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value. Back References may also be referenced using the Expression Language, as '$1', '$2', etc. The single-tick marks MUST be included, as these variables are not &quot;Standard&quot; attribute names (attribute names must be quoted unless they contain only numbers, letters, and _).</description><displayName>Replacement Value</displayName><dynamic>false</dynamic><name>Replacement Value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the replacement. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored if the &lt;Replacement Strategy&gt; property is set to one of: Append, Prepend, Always Replace</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Replacement Strategy</key><value><allowableValues><description>Insert the Replacement Value at the beginning of the FlowFile or the beginning of each line (depending on the Evaluation Mode). For &quot;Line-by-Line&quot; Evaluation Mode, the value will be prepended to each line. For &quot;Entire Text&quot; evaluation mode, the value will be prepended to the entire text.</description><displayName>Prepend</displayName><value>Prepend</value></allowableValues><allowableValues><description>Insert the Replacement Value at the end of the FlowFile or the end of each line (depending on the Evluation Mode). For &quot;Line-by-Line&quot; Evaluation Mode, the value will be appended to each line. For &quot;Entire Text&quot; evaluation mode, the value will be appended to the entire text.</description><displayName>Append</displayName><value>Append</value></allowableValues><allowableValues><description>Interpret the Search Value as a Regular Expression and replace all matches with the Replacement Value. The Replacement Value may reference Capturing Groups used in the Search Value by using a dollar-sign followed by the Capturing Group number, such as $1 or $2. If the Search Value is set to .* then everything is replaced without even evaluating the Regular Expression.</description><displayName>Regex Replace</displayName><value>Regex Replace</value></allowableValues><allowableValues><description>Search for all instances of the Search Value and replace the matches with the Replacement Value.</description><displayName>Literal Replace</displayName><value>Literal Replace</value></allowableValues><allowableValues><description>Always replaces the entire line or the entire contents of the FlowFile (depending on the value of the &lt;Evaluation Mode&gt; property) and does not bother searching for any value. When this strategy is chosen, the &lt;Search Value&gt; property is ignored.</description><displayName>Always Replace</displayName><value>Always Replace</value></allowableValues><defaultValue>Regex Replace</defaultValue><description>The strategy for how and what to replace within the FlowFile's text content.</description><displayName>Replacement Strategy</displayName><dynamic>false</dynamic><name>Replacement Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Evaluation Mode</key><value><allowableValues><displayName>Line-by-Line</displayName><value>Line-by-Line</value></allowableValues><allowableValues><displayName>Entire text</displayName><value>Entire text</value></allowableValues><defaultValue>Entire text</defaultValue><description>Run the 'Replacement Strategy' against each line separately (Line-by-Line) or buffer the entire file into memory (Entire Text) and run against that.</description><displayName>Evaluation Mode</displayName><dynamic>false</dynamic><name>Evaluation Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Regular Expression</key><value>\d{16}</value></entry><entry><key>Replacement Value</key><value>xxxxxxxxxxx</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Maximum Buffer Size</key><value>1 MB</value></entry><entry><key>Replacement Strategy</key><value>Regex Replace</value></entry><entry><key>Evaluation Mode</key><value>Entire text</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Mask Sensitive Values</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that could not be updated are routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that have been successfully processed are routed to this relationship. This includes both FlowFiles that had text replaced and those that did not.</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ReplaceText</type></processors><processors><id>b79e6c1b-fb5b-4cc3-a0ea-17c39754d480</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>1723.4794006051848</x><y>646.3697976445079</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>priority</key><value><description></description><displayName>priority</displayName><dynamic>true</dynamic><name>priority</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>priority</key><value>10</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Set low priority for lookups</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>318ecbb6-7072-43e4-83f0-74cfeb16501a</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>854.3475673465459</x><y>335.9429641366934</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Base Path</key><value><defaultValue>contentListener</defaultValue><description>Base path for incoming connections</description><displayName>Base Path</displayName><dynamic>false</dynamic><name>Base Path</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Listening Port</key><value><description>The Port to listen on for incoming connections</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Data to Receive per Second</key><value><description>The maximum amount of data to receive per second; this allows the bandwidth to be throttled to a specified data rate; if not specified, the data rate is not throttled</description><displayName>Max Data to Receive per Second</displayName><dynamic>false</dynamic><name>Max Data to Receive per Second</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></allowableValues><allowableValues><displayName>ClientSSLContext</displayName><value>ed184387-80c2-46a3-8683-287f119da768</value></allowableValues><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Authorized DN Pattern</key><value><defaultValue>.*</defaultValue><description>A Regular Expression to apply against the Distinguished Name of incoming connections. If the Pattern does not match the DN, the connection will be refused.</description><displayName>Authorized DN Pattern</displayName><dynamic>false</dynamic><name>Authorized DN Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value><defaultValue>60 secs</defaultValue><description>The maximum amount of time to wait for a FlowFile to be confirmed before it is removed from the cache</description><displayName>Max Unconfirmed Flowfile Time</displayName><dynamic>false</dynamic><name>Max Unconfirmed Flowfile Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key><value><description>Specifies the Regular Expression that determines the names of HTTP Headers that should be passed along as FlowFile attributes</description><displayName>HTTP Headers to receive as Attributes (Regex)</displayName><dynamic>false</dynamic><name>HTTP Headers to receive as Attributes (Regex)</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Base Path</key><value>commands</value></entry><entry><key>Listening Port</key><value>8445</value></entry><entry><key>Max Data to Receive per Second</key></entry><entry><key>SSL Context Service</key><value>d1cedd00-02d3-41ba-a592-006eaecdefae</value></entry><entry><key>Authorized DN Pattern</key><value>.*</value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value>60 secs</value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Web Service Interface to send commands</name><relationships><autoTerminate>false</autoTerminate><description>Relationship for successfully received FlowFiles</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListenHTTP</type></processors><processors><id>ff94f7d2-6504-4f05-8874-019ff86ed3be</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>1278.1805724801848</x><y>655.9599465702892</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>destination</key><value><description></description><displayName>destination</displayName><dynamic>true</dynamic><name>destination</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>priority</key><value><description></description><displayName>priority</displayName><dynamic>true</dynamic><name>priority</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>destination</key><value>all</value></entry><entry><key>priority</key><value>1</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Set High Priority for Commands</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>2f36d2ea-ff03-41b3-aa33-de66427836d8</id><parentGroupId>3042b954-defa-483f-b6e0-271a695d7f22</parentGroupId><position><x>856.7250939243506</x><y>460.981154121812</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Input Directory</key><value><description>The input directory from which to pull files</description><displayName>Input Directory</displayName><dynamic>false</dynamic><name>Input Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>File Filter</key><value><defaultValue>[^\.].*</defaultValue><description>Only files whose names match the given regular expression will be picked up</description><displayName>File Filter</displayName><dynamic>false</dynamic><name>File Filter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter</key><value><description>When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned</description><displayName>Path Filter</displayName><dynamic>false</dynamic><name>Path Filter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>10</defaultValue><description>The maximum number of files to pull in each iteration</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keep Source File</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the file is not deleted after it has been copied to the Content Repository; this causes the file to be picked up continually and is useful for testing purposes.  If not keeping original NiFi will need write permissions on the directory it is pulling from otherwise it will ignore the file.</description><displayName>Keep Source File</displayName><dynamic>false</dynamic><name>Keep Source File</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Recurse Subdirectories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to pull files from subdirectories</description><displayName>Recurse Subdirectories</displayName><dynamic>false</dynamic><name>Recurse Subdirectories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Polling Interval</key><value><defaultValue>0 sec</defaultValue><description>Indicates how long to wait before performing a directory listing</description><displayName>Polling Interval</displayName><dynamic>false</dynamic><name>Polling Interval</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Hidden Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not hidden files should be ignored</description><displayName>Ignore Hidden Files</displayName><dynamic>false</dynamic><name>Ignore Hidden Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Age</key><value><defaultValue>0 sec</defaultValue><description>The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored</description><displayName>Minimum File Age</displayName><dynamic>false</dynamic><name>Minimum File Age</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Age</key><value><description>The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored</description><displayName>Maximum File Age</displayName><dynamic>false</dynamic><name>Maximum File Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size that a file must be in order to be pulled</description><displayName>Minimum File Size</displayName><dynamic>false</dynamic><name>Minimum File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Size</key><value><description>The maximum size that a file can be in order to be pulled</description><displayName>Maximum File Size</displayName><dynamic>false</dynamic><name>Maximum File Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Input Directory</key><value>./commands</value></entry><entry><key>File Filter</key><value>[^\.].*</value></entry><entry><key>Path Filter</key></entry><entry><key>Batch Size</key><value>10</value></entry><entry><key>Keep Source File</key><value>false</value></entry><entry><key>Recurse Subdirectories</key><value>true</value></entry><entry><key>Polling Interval</key><value>0 sec</value></entry><entry><key>Ignore Hidden Files</key><value>true</value></entry><entry><key>Minimum File Age</key><value>0 sec</value></entry><entry><key>Maximum File Age</key></entry><entry><key>Minimum File Size</key><value>0 B</value></entry><entry><key>Maximum File Size</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>10 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Spool directory for commands</name><relationships><autoTerminate>false</autoTerminate><description>All files are routed to success</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetFile</type></processors></snippet><timestamp>06/22/2016 20:18:19 UTC</timestamp></template>